body {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  background-image: url("images/weather4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}
h1 {
  font-size: 28px;
  text-align: right;
}
h2 {
  font-size: 15px;
  font-weight: 200;
  text-align: right;
}
a {
  color: #f2f2f2;
}

label {
  font-style: italic;
  color: #b8b5b5e6;
}

footer {
  color: #f2f2f2;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 7pt;
  color: grey;
}
.card {
  max-width: 650px;
  color: #f2f2f2;
  margin: 30px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: rgba(253, 253, 253, 0.25);
}

.dateline {
  font-size: 12px;
  font-family: "Inter", sans-serif;
}
.weather-temperature {
  text-align: right;
}
.location:hover {
  font-weight: bolder;
}
.temp {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 800;
}

.extras {
  font-family: "Inter", sans-serif;
}
.days {
  font-weight: bolder;
  font-size: 16px;
}
.data {
  font-family: "Inter", sans-serif;
}
.icons {
  font-size: 55px;
}
